/CMakeCache.txt
/CMakeFiles/
/CMakeSettings.json
/Makefile
/cmake_install.cmake
/samdisk.dir
/include/config.h
/.vs
/extern/*
!/extern/dir.txt
.DS_Store
*.o
*.aps
*.opt
*.ncb
*.plg
*.suo
/*.vcproj.*.user
/*.vcxproj.user
/*.sdf
/*.opensdf
/*.opendb
/*.VC.db
/ipch/
/[Dd]ebug/
/[Rr]elease/
/Signed Release/
/x64
/samdisk
/Test
/samdisk-*-osx.zip
/samdisk-*-linux-*.zip
